   .data-table-1 {
       margin: 0 0 20px;
       width: 100%;
   }

   table {
       border-collapse: separate;
       border-spacing: 0;
   }

   tr {
       display: table-row;
       vertical-align: inherit;
       unicode-bidi: isolate;
       border-color: inherit;
   }

   .data-table-1 {
       border-collapse: collapse;
       /* merge borders */
       width: 100%;
   }

   .data-table-1 td {
       border: 1px solid #dddddd;
   }

   .data-table-1 th {
       border-top: 1px solid #dddddd;
       border-bottom: 1px solid #dddddd;
       border-left: none;
       border-right: none;
   }

   .data-table-1 tbody tr:nth-child(even) {
       background-color: #F4F4F4;
   }

   .data-table-1 tbody tr:nth-child(odd) {
       background-color: #ffffff;
   }

   .data-table-1 thead th:first-child {
       border-left: 1px solid #dddddd;
   }

   .data-table-1 thead th:last-child {
       border-right: 1px solid #dddddd;
   }


   .data-table-1 tbody td {
       padding: 8px 10px;
       text-align: left;
       vertical-align: middle;
       /* background: #ffffff; */
       color: #000000;
       font-size: 1em;
       min-width: 130px;
       max-width: 250px;
   }

   table caption {
       font-size: 1.4em;
       font-weight: 600;
       color: #fff !important;
       background: #333;
       padding-left: 15px;

   }

   caption {
       padding-top: 8px;
       padding-bottom: 8px;
       text-align: left;
   }

   table thead {
       background: #dddddd;
   }


   .data-table-1 thead th {
       background-color: #fbac1b;
       font-weight: 600;
       color: #000000;
       background: #fbac1b;
       padding: 12px 15px;
       text-align: left;
       vertical-align: middle;
       min-width: 130px;
       max-width: 250px;
   }


   /* Mobile view */
   @media screen and (max-width: 768px) {
       .data-table-1 {
           margin: 0 0 20px;
           width: 100%;
       }

       table {
           border-collapse: separate;
           border-spacing: 0;
       }

       tr {
           display: table-row;
           vertical-align: inherit;
           unicode-bidi: isolate;
           border-color: inherit;
       }

       .data-table-1 {
           border-collapse: collapse;
           /* merge borders */
           width: 100%;
       }

       .data-table-1 td {
           border: 1px solid #dddddd;
       }

       .data-table-1 th {
           border-top: 1px solid #dddddd;
           border-bottom: 1px solid #dddddd;
           border-left: none;
           border-right: none;
       }

       .data-table-1 tbody tr:nth-child(even) {
           background-color: #F4F4F4;
       }

       .data-table-1 tbody tr:nth-child(odd) {
           background-color: #ffffff;
       }

       .data-table-1 thead th:first-child {
           border-left: 1px solid #dddddd;
       }

       .data-table-1 thead th:last-child {
           border-right: 1px solid #dddddd;
       }


       .data-table-1 tbody td {
           padding: 8px 10px;
           text-align: left;
           vertical-align: middle;
           /* background: #ffffff; */
           color: #000000;
           font-size: 1em;
           min-width: 130px;
           max-width: 250px;
       }

       table caption {
           font-size: 1.4em;
           font-weight: 600;
           color: #fff !important;
           background: #333;
           padding-left: 15px;

       }

       caption {
           padding-top: 8px;
           padding-bottom: 8px;
           text-align: left;
       }

       table thead {
           background: #dddddd;
       }


       .data-table-1 thead th {
           background-color: #fbac1b;
           font-weight: 600;
           color: #000000;
           background: #fbac1b;
           padding: 12px 15px;
           text-align: left;
           vertical-align: middle;
           min-width: 130px;
           max-width: 250px;
       }
   }